%header
	.header-top
		.container
			%ul.header-top-nav
				%li.header-top-nav__item
					%a{:href=>"#"} Привет
				%li.header-top-nav__item
					%a{:href=>"#"} Прощай
			%ul.header-login
				%li.header-top-nav__item
					%a Здесь login и избранное
	.header-main
		.container
		.header-logo
			%a{:href=>"#"}
				%img{:src=>""}
				