body {
	font-family: "PT Sans", sans-serif;
}


.content {
	background: #fafafa;
	padding: 60px 8px 50px;
}
.section {
	background: #fff;
	max-width: 90%;
	/*padding: 20px 0 0;*/
	margin: auto;
}
.column {
	display:inline-block;
	width: 20%;
}

.table-title {
	font-weight: 600;
}

/*.hover-highlight {
	padding-top: 11px;
}*/

/*.hover-highlight:hover {
	background: #E59C50;
}*/
/*.container.main div .row:hover,*/
.hover-highlight:hover {
	background: #288282;
	color: #fff;
}

.hidden-column {
	display: none;

}

.show_disciplines {
	display: block !important;
	background-color: #fae9d7;
}

#accordion .row[aria-expanded='true'] .disciplines-list {
	display: block;
	height: 100%;
}

#accordion .row[aria-expanded='false'] .disciplines-list {
	display: none;
}

.pull-left {
	float: left
}

.pull-right {
	float: right;
}

.navbar.navbar-light {
	border-radius: 0px;
}

.section .jumbotron {
	padding: 2em 1em;
}

.main.container {
	cursor: pointer;
}

a:hover, a:focus {
	text-decoration: none !important;
}

.badge {
	white-space: normal !important;
}