body {
	font-family: "PT Sans", sans-serif;
}


.content {
	background: #fafafa;
	padding: 60px 8px 50px;
}
.section {
	background: #fff;
	max-width: 90%;
	/*padding: 20px 0 0;*/
	margin: auto;
}
.column {
	display:inline-block;
	width: 20%;
}

.table-title {
	font-weight: 600;
}

.hover-highlight {
	padding-top: 11px;
}
.hover-highlight:hover {
	background: #d7ebfb;
}


.hidden-column {
	display: none;

}

.show_disciplines {
	display: block !important;
	background-color: #fae9d7; 
}

#accordion .row[aria-expanded='true'] .disciplines-list {
	display: block;
}

#accordion .row[aria-expanded='false'] .disciplines-list {
	display: none;
}
